{% extends 'base.html.twig' %}

{% block title %} Cart of Products{% endblock %}

{% block body %}
<div class="container">
    <h1 class="bg-light font-weight-bolder text-primary border-bottom rounded p-3"> My Cart : </h1>
    <table class="table bg-light table-bordered border-primary p-2 rounded">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col"> total </th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td> <img src="{{ product.image }}" width="50" height="50"> </td>
                <th> {{ product.name }} </th>
                <td>{{ product.price|format_number }} $</td>
                <td> {{ cart[product.id.__toString()] }} </td>
                <td> {{ (cart[product.id.__toString()] * product.price)|format_number }} $</td>
                <td>
                    <a href="{{ path('cart_delete', {'id': product.id}) }}" class="btn btn-sm btn-danger"
                        onclick="return confirm('Are sure you want to delete this?')">
                        <i class="fas fa-trash"></i>
                    </a>

                    <a href="{{ path('cart_add_product', {'product': product.id} ) }}" class="btn btn-sm btn-primary">
                        <i class="fas fa-plus"></i>
                    </a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td class="text-center" colspan="6">There is no products added to your cart.</td>
            </tr>
            {% endfor %}
        </tbody>
        <footer>
            <tr>
                <td class="text-center" colspan="6">
                    <a type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Pay With PayPal"
                        href="{{ path("paypal_send_payment", {'total': total}) }}" class="btn btn-lg btn-primary">
                        <i class="fas fa-money-bill-wave" text-secondary></i>Payer
                    </a>
                    Total : <span class="badge bg-success"> {{ total|format_number }} $ </span>

                </td>
            </tr>
        </footer>
    </table>
</div>
{% endblock %}