<div class="shadow-lg p-3 mb-2 bg-white rounded">
    <h4 class="text-primary">Search : </h4>

    <form method="get" action="{{ path('search') }}">

        <div class="mb-2">
            <label class="visually-hidden" for="inlineFormInputGroupUsername">Search</label>
            <div class="input-group">
                <div class="input-group-text">🔍</div>
                <input type="text" class="form-control" name="q" value="{{ app.request.query.get('q') }}"
                    id="inlineFormInputGroupUsername" placeholder="Search">
            </div>
        </div>

        <h5 class="text-left text-primary">Price: </h5>
        <div class="form-group">
            Min price : <input class="form-control" value="{{ app.request.query.get('min') }}" type="number" name="min">
            <br />
            Max price : <input class="form-control" value="{{ app.request.query.get('max') }}" type="number"
                name="max"><br />
        </div>

        <h5 class="text-left text-primary"> Categories: </h5>
        {% for c  in categories %}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="{{'categories['~loop.index~'])'}}" value="{{ c.id }}"
                id="{{c.id}}">
            <label class="form-check-label" for="{{c.id}}">
                {{ c.title }}
            </label>
        </div>
        {% endfor %}


        <button type="submit" class="btn btn-success btn-block mt-2"> search </button>
    </form>


</div>