{% from "marcos/payment.twig" import status %}

{% extends 'base.html.twig' %}

{% block title %}Orders List {% endblock %}

{% block stylesheets %}
    {{ parent()}}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="my-2 p-2 border-bottom border-2">
            <h2>
                Orders List
            </h2>
        </div>
        <table class="table table-stripped">
            <thead>
                <tr>
                    <th>#ID</th>
                    <th>Amount</th>
                    <th>Fee</th>
                    <th>Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for o in orders %}
                    <tr>
                        <td>{{ o.id }}</td>
                        <td>{{ o.amount }}</td>
                        <td>{{ o.fee }}</td>
                        <td>{{ o.createdAt| date('d-m-Y H:i') }}</td>
                        <td>
                            {{ status(o.status) }}
                            {% if o.status != 'COMPLETED' %}
                                <a href="{{ o.approveLink }}" class="btn btn-sm link-success btn-link" target="_blanck">
                                    <small>Pay the order</small>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td class="text-center" colspan="4">No Orders Found Yet.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="bg-light p-2 border-bottom">
            <div class="navigation d-flex justify-content-center align-items-center my-3">
                {{ knp_pagination_render(orders) }}
            </div>
        </div>
    </div>
{% endblock %}
